*{margin:0; padding: 0; font-size: 100%; border: none;outline: none; font-weight: 300 ;box-sizing: border-box;
}
body{background-color: hsl(0, 0%, 98%);}
a{text-decoration: none;}
ul{list-style: none;}
img{width: 100vw; }
button{background-color: hsl(0, 0%, 98%);}
.container{background-color: hsl(0, 0%, 100%); display: flex; justify-content: center;}
.default-box{max-width: 980px; width: 100vw; min-width: 300px;}
.defaut-flex-center{display: flex; align-items: center; }

/*topo-fixo*/
.header--sobre{background: #fff;left: 0; top: 0; width: 100vw; height: 54px; position: fixed; box-shadow: 0 1px 0 rgb(0, 0, 0, 0.1);}
.top{ height: 54px; padding: 7px; background-color: white;}
.top__logo{height: 38px; width: 100vw; background-image: url(../img/instagram-logo.svg); background-repeat: no-repeat;}
.top__icon{float:right; }
/*Sotory*/
.section--story{height: 70px; margin-top: 54px;display: block; overflow-y: hidden;  }
.story{width: 100vw; overflow: auto hidden;}
.story__list{ flex-direction: row; display: flex; margin-top: 2px;}
.story__user-story{ height: 60px; width: 60px; border-radius: 50%; background-image: linear-gradient(#892d9a, #c34c4c), radial-gradient(#f00,#3020ff); align-items: center; display: flex; justify-content: center; margin:3px}
.sotry__img{height: 55px; width: 55px; border-radius: 50%;margin: 10px;}
/**/